<app-nav-bar></app-nav-bar>
@if (loading) {
<div class="text-center mt-5">
    <app-spinner></app-spinner>
</div>
} @else {
<div class="container mt-5 col-sm-6">
    <div class="text text-center px-lg-5">
        <h1>Hello, World!</h1>
        <p class="small">Welcome to the weather forecast web application. Please login with your GitHub user to use the
            application and
            view the weather in your city.</p>
    </div>
    <button class="sketch-button ms-5" (click)="login()">Login with GitHub</button>
</div>
}