<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3 mb-5" style="border-bottom: solid;">
    <div class="container-fluid">
        <!-- Cloud image and title -->
        <a class="navbar-brand d-flex align-items-center" style="cursor: pointer;" (click)="navigateToHome()">
            <i class="bi bi-cloud-sun-fill pe-2" style="font-size:xx-large"></i>
            <span class="d-none d-lg-inline title">Weather Forecast</span>
        </a>

        <!-- Always visible Login/Logout button on all screen sizes -->
        <div class="d-flex ms-auto">
            @if (isAuthenticated) {
            <button class="sketch-button" (click)="logout()">
                Logout
            </button>
            }
        </div>
    </div>
</nav>