<app-nav-bar></app-nav-bar>
<div class="home-container text-center">
    <!-- Profile Info -->
    <img [src]="user.picture" class="profile-img mb-2" alt="Profile" />
    <h5>{{ user?.name }}</h5>
    <p>https://github.com/{{ user.nickname | lowercase}}</p>

    <!-- Input + Button -->
    <div class="search-section mt-4">
        <div class="search-input-wrapper mx-auto">
            <i class="bi bi-search search-icon"></i>
            <input type="text" class="search-input" placeholder="City" [(ngModel)]="city" />
        </div>

        <button class="sketch-button mt-3" (click)="displayWeather()">
            Display Weather
        </button>
    </div>
</div>